---
layout: default
title: Projects
---
{% assign umbrellaProjects = site.projects_list | sort: 'start-date' | reverse %}
<div class="page events-index">
  <h1>{{page.title}}</h1>

  <div class="iterate-umbrella-projects">
      {% for proj in umbrellaProjects %}
        <a href="{{proj.url}}"
            class="umbrella-project">
            <div class="umbrella-project-title">{{proj.title}}</div>
            <div class="umbrella-project-image"
                  style="background-image: url( {{proj.image}} ) ;"
                  alt="{{proj.alt-text}}"></div>
            <!--a href="{{proj.url}}"
                  class="umbrella-project-image"
                  style="background-image: url( {{proj.image}} ) ;"
                  alt="{{proj.alt-text}}"></a-->
            <div class="umbrella-project-years"> 
              {% assign startYear = proj.start-date | date: "%Y"  %}
              {% assign endYear = proj.end-date | date: "%Y"  %}

              {% if startYear == endYear %}
              {{proj.start-date | date: "%Y" }}
              
              {% else %}
              {{proj.start-date | date: "%Y" }} -
              {{proj.end-date | date: "%Y"}}
              

              {% endif %}
            </div>
        </a>
      {% endfor %}
  </div>
</div>
