---
layout: default
---
<div class="home">
  <div class="full-hero hero-home">
    <div class="hero-content">
      <h1>Katarina Hoeger</h1>
      <!-- <ul class="social-list social-links">
        {% include social-links.html %}
      </ul> -->
      <!-- <p>Reconstitued Media</p> -->
      <!-- <p>Rainbow on Wall</p>
      <p>2022</p> -->
      <!-- <p></p> -->
      <!-- <p>See more <a href="/projects">projects<a> ... </p> -->
    </div>
  </div>
  <div class="home-callout">
    <h1 class="callout-title">Public Appearances</h1>
    <div class="callout-copy">

      {% assign sortedEvents = site.events_list | where_exp:"event",
      "event.date >= site.time" |sort: 'date'  %}

      {% unless sortedEvents == empty %}
        {% for event in sortedEvents limit:3 %}
          <div class="featured-event">
            <div class="featured-event-date">{{event.date | date: site.date_format}}</div>
            <div class="featured-event-time">{{event.date | date: '%I:%M %p'}}</div>
            <div class="event-title"><a href="{{ event.url }}">{{event.title}}</a></div>
          </div>
        {% endfor %}
        {% else %}

          <p>Everything's done! Check back soon to see more upcoming events.</p>
      {% endunless %}

    </div>
  </div>

  <div class="home-section">
    <h4>Most Recent Post</h4>
    <div class="blog-posts">
      <header class="post-header">
        <h2>
          <a href="{{ site.posts.first.url }}">
            {{ site.posts.first.title }}
          </a>
        </h2>
        <div class="post-byline">
          <!--
          <img src=" {{ site.posts.first.gravatar }}">
          <a href="{{ site.posts.first.authorTwitter }}"
          class="social-link">Tw</a>
          by: {{site.posts.first.author }}
          <span> - -->
          <span> {{ site.posts.first.date | date: site.date_format }}</span>
        </div>
      </header>
      <div class="posts-image"
        style="background-image:url({{ site.posts.first.postHero }})"></div>
        {{ site.posts.first.excerpt }}
      </div>
    </div>
</div>
