<footer class="footer">
  <a class="footer-logo" href="/">
    <img src={{"assets/img/logo/kh_epdesign_2024_white_70pxH.png  " | absolute_url}}
    alt="KH"/>
  </a>
  <!-- <a href="/" class="footer-logo">
    <p class="initials">Katarina Hoeger</p>
  </a> -->

  <h3>Katarina Hoeger | <span>Artist</span></h3>

<nav>
  <ul class="footer-nav nav-links">
    {% include nav-links.html %}
  </ul>
</nav>
<nav>
  <ul class="footer-nav social-links">
      {% include social-links.html %}
  </ul>
</nav>
</footer>
