<li>
  {% assign base = 'https://www.linkedin.com/in/'%}
  {% assign username = site.linkedin_username %}
  {% assign linkedInLink = base | append:  username %}
  <a href="{{linkedInLink}}" class="social-link">
    <span class="fab fa-linkedin"></span>
    </a>
</li>
<li>
  {% assign base = 'https://twitter.com/'%}
  {% assign username = site.twitter_username %}
  {% assign twitterLink = base | append:  username %}
  <a href="{{twitterLink}}"class="social-link">
    <i class="fab fa-twitter"></i>
  </a>
</li>
<li>
  {% assign base = 'https://github.com/'%}
  {% assign username = site.github_username %}
  {% assign githubLink = base | append:  username %}
  <a href="{{githubLink}}" class="social-link">
    <span class="fab fa-github"></span>
  </a>
</li>
<li>
  {% assign base = 'https://soundcloud.com/'%}
  {% assign username = site.soundcloud_username %}
  {% assign soundcloudLink = base | append:  username %}
  <a href="{{soundcloudLink}}" class="social-link">
    <span class="fab fa-soundcloud"></span>
  </a>
</li>
