---
layout: default
---
<div class="post">
  {% if page.postHero %}
    <div class ="half-hero" style="background-image:url({{ page.postHero }})"></div>
  {% endif %}
  <article class="page" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="post-byline">
          {% if page.author %}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <img src="{{ page.gravatar }}">
              <a href="{{ page.authorTwitter }}" class="social-link">Tw</a>
              by: {{ page.author }}
            </span>
          {% endif %}
          <time class="post-time" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            <span>{{ page.date | date: site.date_format }}</span>
          </time>
        </div>
    </header>
    <aside class="post-aside">
      {% include recent-post-list.html %}
      <p class="rss-subscribe">subscribe
        <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
      </p>
    </aside>
    <div class="post-content" itemprop="articleBody">
      {{ content}}
    </div>

    {% assign taggedProjects = site.projects_list | where_exp: "proj",
                                            "proj.project-tag == page.project-tag"%}
    {% unless taggedProjects == empty %}

        <div class="post-rel-articles">
          <h3>Related Projects</h3>
          {% for proj in taggedProjects %}
            <div class="rel-article-title">
                <h6>
                  <a href="{{ proj.url }}">{{ proj.title}}</a>
                </h6>
            </div>
          {% endfor %}
        </div>
    {% endunless %}

    {% assign taggedEvents = site.events_list | where_exp: "eventInstance",
                                            "eventInstance.event-tag== page.event-tag"%}
    {% unless taggedEvents == empty %}

        <div class="post-rel-articles">
          <h3>Related Events</h3>
          {% for eventInstance in taggedEvents %}
            <div class="rel-article-title">
                <h6>
                  <a href="{{ eventInstance.url }}">{{eventInstance.title}}</a>
                </h6>
            </div>
          {% endfor %}
        </div>
    {% endunless %}

      <footer class="post-footer">
        {% if page.postFooter %}
        {{ page.postFooter }}
        {% endif %}
      </footer>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}

    {% if page.mathjax %}
    <script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    {% endif %}

    {% if page.bokeh %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.6.min.js"></script>
    {% endif %}

  </article>
</div>
<!--
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  {% if page.mathjax %}
  <script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  {% endif %}

</article>
-->
